@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
:root{
    --grey:#424242;
    --bg-light: rgba(255,144,14,0.1);
    --btn-bg: #FF900E;

}
.header{
    background-color: var(--bg-light);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}
.banner{
    max-width: 1140px;
    margin: 0 auto;
}
.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.btn-primary{
    background-color: var(--btn-bg);
     color: white;
     padding: 20px 25px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 50px;
    border: none;
}
.banner-img{
    width: 100%;
    margin-bottom: 50px;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--btn-bg);
}
.nav-links{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
}
.nav-link{
    text-decoration: none;
    color: #232323;font-size: 1.25rem;
}



/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.team-feature-container{
    margin-top: 50px;
    display: flex;
    gap: 70px;

}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team-feature{
    margin-top: 170px;
    max-width: 530px;
}
.feature-title{
    font-size: 3rem;
}
.feature-title .s1{
    color: var(--grey);
    font-weight: 500;
}
.feature-title .s2{
    color: black;
}
.feature-title .s3{
    color: var(--btn-bg);
}
.feature-description{
    margin-bottom: 30px;
    font-size: 1rem;
    color: var(--grey);
}
/* sponsor-section */
.sponsor-section .feature-title{
    text-align: center;
}
.sponsor-section .feature-description{
    text-align: center;
}
/* Some fact */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
}
.fact-card{
    height: 242px;
    width: 242px;
    border: 2px solid var(--btn-bg);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fact-card img{
    height: 46px;
}
.fact-card .fact-number{
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 0px;
}
.fact-card .fact-name{
    font-size: 1.25rem;
    color: var(--grey);
}
.sponsor-contaier{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-between;
}
.sponsor-contaier img{
    filter: grayscale(100%);
}
footer p{
    background-color: rgb(235, 231, 231);
    padding: 10px;
    text-align: center;
    color: var(--grey);
    font-size: 1rem;
}
.some-fact .feature-title{
    text-align: center;
}
.some-fact .feature-description{
    text-align: center;
}
/* enjoy-container */
.enjoy-container{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    gap: 50px;
}
/* enjoy-img */
.enjoy-container .img{
    width: 100%;
    margin-top: 100px;
}

.enjoy-container .enjoy-title{
    border-left: 5px solid var(--btn-bg);
    padding-left: 21px;
    font-size: 2.8rem;
    margin-bottom: 0;
}
.enjoy-container p{
    color: var(--grey);
}

.enjoy-container .box{

    padding: 30px;
    padding-right: 10;
    box-shadow: 0 0 10px  rgba(0,0,0,0.2);
    margin-bottom: 10px;
    border-radius: 8px;
}
.enjoy-container .box-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}
.enjoy-container .box-description{
    margin: 0;
}

.enjoy-container .btn-primary{
    padding: 35px 32px;
    margin-top: -60px;
    margin-left: -40px;

}
.enjoy-container .btn-primary .year{
    font-size: 3.1rem;
}


@media screen and (max-width:576px) {
    .enjoy-container{
        flex-direction: column;
    }
    .enjoy-container .img{
        margin-top: 10px;
    }
    .enjoy-container{
        margin-top: 10px;
    }
    .enjoy-container .btn-primary{
        margin-left: 40px;
    }
    .navbar, .nav-links{
        flex-direction: column;
    }
    .navbar, .banner{
        margin: 0 15px;
    }
    .team-feature-container{
        flex-direction: column-reverse;
    }
    .team-img{
        grid-template-columns: repeat(1,1fr);
        margin: 0 auto;
    }
    .team-feature{
        margin-top: 10px;
        text-align: center;
    }
    .fact-container{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    .fact-card{
        margin: 0 auto;
    }
    .some-fact,.sponsor-section .feature-title, .feature-description{
        text-align: center;
    }
    .sponsor-contaier{
        grid-template-columns: repeat(1,1fr);
    }
    .sponsor-contaier img{
        margin: 0 auto 15px auto;
    }

}

/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .team-feature-container{
        flex-direction: column;
    }
    .team-feature{
        text-align: center;
        margin: 10px auto;
    }
    .team-img{
        margin: 0 auto;
    }
    .fact-container{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .fact-card{
        margin: 0 auto;
    }
    .some-fact,.sponsor-section .feature-title, .feature-description{
        text-align: center;
    }
    .sponsor-contaier{
        grid-template-columns: repeat(2,1fr);
    }
    .sponsor-contaier img{
        margin: 0 auto 15px auto;
    }
}